{% if settings.blog_show_featured %}
<div class="featured-posts">
<h3>Featured Articles</h3>
<ul>
  {% for i in (1..5) %}
    {% assign currentShow = "featured_article_" | append: i | append:"_show" %}
    	{% if settings[currentShow] %}
    		{% assign currentSlug = "featured_article_" | append: i | append:"_slug" %}
    		{% assign currentTitle = "featured_article_" | append: i | append:"_title" %}
  			{% assign currentSubtitle = "featured_article_" | append: i | append:"_sub" %}
    		{% assign currentImg = "featured-article-" | append: i | append:".jpg" %}	
    		<li>
              <a href="{{ blog.url }}/{{ settings[currentSlug] }}" class="clearfix">
				<div class="article-thumb" style="background-image:url('{{ currentImg | asset_img_url: 'compact' }}');"></div>
                <span class="article-title">{{settings[currentTitle]}}</span>
                <span class="article-sub">{{settings[currentSubtitle]}}</span>
              </a>
            </li>
    	{% endif %}
    {% endfor %}
</ul>
</div>
{% endif %}

<div class="search">
<h3>Search</h3>
<form method="get" action="/search" class="clearfix">
  <input class="searchBox field" type="text" name="q"{% if search.performed %} value="{{ search.terms | escape | downcase }}"{% endif %} /> 
  <input type="hidden" name="type" value="article" />
  <input type="hidden" name="view" value="blog" />
  <input type="submit" value="&#xf105;" class="fa submit" />
</form>
</div>

{% if settings.blog_show_recent %}
<div class="recent-posts">
<a href="{{ blog.url }}"><h3>Recent Posts</h3></a>
<ul>
  {% for article in blogs[blog.handle].articles limit:10 %}
    <li>
      <a href="{{ article.url }}">{{ article.title }}</a>
      <br>
      <div>{{ article.published_at | date: "%a, %b %d, %y" }}</div>
    </li>
  {% endfor %}
</ul>
</div>
{% endif %}

<div class="categories">
{% if blog.all_tags.size > 0 %}
<h3>Categories</h3>
<ul class="no-bullets">
  <li><a href="{{ blog.url }}">All</a></li>
  {% for tag in blog.all_tags %}
    {% if current_tags contains tag %}
    	<li>{{ tag }}</li>
    {% else %}
    	<li>{{ tag | link_to_tag: tag }}</li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
</div>