<div class="icons">
<ul id="social-links" class="animation awesome large--text-left">
      {% if settings.twitter_link <> '' %}
          <li>
            <a target="_blank" href="{{ settings.twitter_link }}">
              <i class="fa fa-twitter animation"></i>
            </a>
          </li>
      {% endif %}
      {% if settings.facebook_link <> '' %}
      	  <li>
            <a target="_blank" href="{{ settings.facebook_link }}">
              <i class="fa fa-facebook animation"></i>
            </a>
          </li>
      {% endif %}
      {% if settings.instagram_link <> '' %}
          <li>
            <a target="_blank" href="{{ settings.instagram_link }}">
              <i class="fa fa-instagram animation"></i>
            </a>
          </li>
      {% endif %}
      
      {% if settings.google_link <> '' %}
          <li>
            <a target="_blank" href="{{ settings.google_link }}">
              <i class="fa fa-google-plus animation"></i>
            </a>
          </li>
      {% endif %}
  	  {% if settings.pinterest_link <> '' %}
          <li>
            <a target="_blank" href="{{ settings.pinterest_link }}">
              <i class="fa fa-pinterest-p animation"></i>
            </a>
          </li>
      {% endif %}
  	  {% if settings.snapchat_link <> '' %}
          <li>
            <a target="_blank" href="{{ settings.snapchat_link }}">
              <i class="fa fa-snapchat animation"></i>
            </a>
          </li>
      {% endif %}
  	  {% if settings.linkedin_link <> '' %}
          <li>
            <a target="_blank" href="{{ settings.linkedin_link }}">
              <i class="fa fa-linkedin animation"></i>
            </a>
          </li>
      {% endif %}
      {% if settings.vimeo_link <> '' %}
          <li>
            <a target="_blank" href="{{ settings.vimeo_link }}">
              <i class="fa fa-vimeo-square animation"></i>
            </a>
          </li>
      {% endif %}
      {% if settings.youtube_link <> '' %}
      	  <li>
            <a target="_blank" href="{{ settings.youtube_link }}">
              <i class="fa fa-youtube animation"></i>
            </a>
          </li>
      {% endif %}
      {% if settings.tumblr_link <> '' %}
          <li>
            <a target="_blank" href="{{ settings.tumblr_link }}">
              <i class="fa fa-tumblr animation"></i>
            </a>
          </li>
      {% endif %}
      {% if settings.flickr_link <> '' %}
          <li>
            <a target="_blank" href="{{ settings.flickr_link }}">
              <i class="fa fa-flickr animation"></i>
            </a>
          </li>
      {% endif %}
  	  {% if settings.github_link <> '' %}
          <li>
            <a target="_blank" href="{{ settings.flickr_link }}">
              <i class="fa fa-github animation"></i>
            </a>
          </li>
      {% endif %}
</ul>
  
{% comment %}
<div class="blog">
    <a href="https://fashionnova.blog/">
      <img src="//cdn.shopify.com/s/files/1/0293/9277/t/47/assets/fn-blog.png?5004108306169779624">
    </a>
</div>
{% endcomment %}
</div>